<div class="footer-basic">
    <footer>
        <div class="social">
            <a href="#"><img class="icon-social" src="../../../assets/icones/instagram.svg" alt="Icon Instagram"></a>
            <a href="#"><img class="icon-social" src="../../../assets/icones/facebook.svg" alt="Icon Facebook"></a>
            <a href="#"><img class="icon-social" src="../../../assets/icones/whatsapp.svg" alt="Icon Whatssap"></a>
            <a routerLink="cad-usuarios"><img class="icon-social" src="../../../assets/icones/login.png" alt="Icon Login"></a>
        </div>
        <p class="copyright">Desenvolvido por Higor Zica © 2023</p>
    </footer>
</div>