<div class="footer-basic">
    <footer>
        <div class="social">
            <a target="_blank" href="https://www.instagram.com/higor_zica/"><img class="icon-social" src="../../../assets/icones/instagram.svg" alt="Icon Instagram"></a>
            <a target="_blank" href="#"><img class="icon-social" src="../../../assets/icones/facebook.svg" alt="Icon Facebook"></a>
            <a target="_blank" href="https://api.whatsapp.com/send?phone=5531996520278&text=Olá%20Gostaria%20de%20conversar%20sobre%20:%20__________%20Vim%20através%20do%20site"><img class="icon-social" src="../../../assets/icones/whatsapp.svg" alt="Icon Whatssap"></a>
            <a routerLink="login"><img class="icon-social" src="../../../assets/icones/login.png" alt="Icon Login"></a>
        </div>
        <p class="copyright">Desenvolvido por Higor Zica © 2023</p>
    </footer>
</div>