.container__historia {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

h1 {
    font-family: monospace;
    font-size: 25px;
    border-right: 4px solid;
    width: 25ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(25), blinking 1s infinite step-end alternate;
    margin: 10px;
  }

.center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

@keyframes typing {
    from {
      width: 0;
    }
  }
  
@keyframes blinking {
    50% {
      border-color: transparent;
    }
  }

.historia{
    margin: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }