<div class="container__historia">
    <div class="center">
        <h1>Hi, my name is Higor Zica ...</h1>
    </div>
    <div class="historia" style="margin-top: 10px;">
        <p>Se pudesse me pedissem para resumir minha trajetória até hoje em uma frase sem sombras de duvida diria: Sou um apaixonado por tecnologia !
            Atualmente exerço funções de suporte técnico nível 2 e 3 onde é necessário domínio de conhecimentos em SQL , Testes de Produto , Delphi e principalmente representar o cliente internamente repassando todas as demandas e realizando de maneira profissional a negociação entre as urgências nas resoluções dos problemas.
            Almejo ainda contribuir em projetos de grande porte como um desenvolvedor completo front-end e de alguma forma ajudar a sociedade através da tecnologia que ao meu ver é o futuro da nossa humanidade.
            -Formação Académica:
            Ensino Médio Completo, Bacharelado em Administração. Estou profissionalmente no mercado de trabalho desde 2013.
            -TAGS que me rodeiam:
            Experiência do usuário, usabilidade, acessibilidade, interface, interatividade, criatividade, designer centrado no usuário, identidade visual, transformação digital, mobilidade.</p>
    </div>

</div>