<nav>
        <div class="logo">
            <a routerLink="/"><img src="../../../assets/imagens/logoHZ-sem-fundo.png" alt="logo_principal"></a>
        </div>
        <div class="menu-header">
            <ul class="menu">
                <li><a routerLink="categorias">Categorias</a></li>
                <li><a routerLink="sobre">Sobre</a></li>
                <li><a routerLink="#">Contato</a></li>
                <li><a routerLink="projetos">Projetos</a></li>
            </ul>
        </div>
</nav>