<nav>
        <div class="logo">
            <a routerLink="/"><img src="../../../assets/imagens/logoHZ-sem-fundo.png" alt="logo_principal"></a>
        </div>
        <div class="menu-header">
            <ul class="menu">
                <li><a routerLink="categorias">Categorias</a></li>
                <li><a routerLink="sobre">Sobre</a></li>
                <li><a target="_blank" href="https://api.whatsapp.com/send?phone=5531996520278&text=Olá%20Gostaria%20de%20conversar%20sobre%20:%20__________%20Vim%20através%20do%20site">Contato</a></li>
                <!-- <li><a routerLink="projetos">Projetos</a></li> -->
            </ul>
        </div>
</nav>