
<h2>Filtrar nossos conteúdos por categoria:</h2>
<div class="container-categorias">
  <div class="polaroid">
      <img src="../../../assets/icones/angular.png" alt="imagen" style="width:100%"/>
      <div class="container">
          <h3>Angular Framework</h3>
      </div>
  </div>

  <div class="polaroid">
      <img src="../../../assets/icones/france.png" alt="imagen" style="width:100%"/>
      <div class="container">
          <h3>Vida na França</h3>
      </div>
  </div>

  <div class="polaroid">
      <img src="../../../assets/icones/freelancer.png" alt="imagen" style="width:100%"/>
      <div class="container">
          <h3>Freelancer</h3>
      </div>
  </div>

</div>