<div class="container">
    <article class="card">
        <div class="card__publication">
            <div>
                <span class="card__author">
                    <i class="ri-user-line card__icon"></i>Autor: {{autor}}
                </span>
                <img src="{{imagem}}" alt="" />
            </div>
        </div>
        <div class="card__info">
            <h2 class="card__title">{{titulo}}</h2>
            <span class="card__subtitle">{{categoria}}</span>

            <p class="card__description">
               {{descricao}}
            </p>

        </div>
    </article>
</div>