<div class="container__artigo-secundario">
            <div class="artigo-secundario__foto">
                <span>Autor: {{autor}}</span>
                <img src="{{imagem}}"
                 alt="">
            </div>
            <div class="containeir__info-detalhes">
                <div class="artigo-secundario__titulo">
                    <h2><a [routerLink]="['artigos', id]">{{titulo}}</a></h2>
                </div>
                <div class="artigo-secundario__descricao">
                    <p>
                        <a [routerLink]="['artigos', id]">
                            {{descricao}}
                        </a>
                    </p>
                </div>
    
            </div>
</div>
<hr />
